<% layout('./layouts/boilerplate') %>

<div class="container" style="max-width: 640px; margin: 0 auto;">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-middle my-5">
        <h1><%= profile.username %>'s Space </h1>
    </div>

    <%- include('../partials/filter.ejs') %>


    <% if (posts.length === 0) { %>
    <a href="/posts/create" id="profile-add-post" style="color: inherit; text-decoration: inherit;">
        <div class="card border-1 border-white bg-dark mt-5 mb-3 text-center text-white d-flex flex-wrap align-items-center justify-content-center" style="height: 400px;">
            <h4>Share Your Station</h4>
        </div>
    </a>
    <% } %>

    <% for( let i = 0; i < posts.length; i++ ) { let post = posts[i]; %>
        <%- include('../partials/post.ejs', {post: post, isSingular: false}) %>
    <% } %>


</div>